
.container1{
    height: auto;
    font-size: 20px;
    width: 90%;
    margin-top: 100px;
    margin-left: 5%;
}
.nd,p{
   
    font-size: 20px;
}
.main{
    margin-bottom: 50px;
}
.foot{
    margin-top: 20px;
}